name: continuous-test
run-name: Continuous Test

on:
  push:

jobs:
  test-gradle-build-only--main:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Blade
        run: |
          curl -fsSL https://raw.githubusercontent.com/liferay/liferay-blade-cli/master/cli/installers/local | bash
          echo "/home/runner/jpm/bin" >> $GITHUB_PATH
      - name: Create Liferay Workspace
        run: |
          blade init -v 7.4 liferay-gradle-workspace
      - name: Create Portlet
        working-directory: ./liferay-gradle-workspace
        run: |
          blade create -t mvc-portlet my-mvc-portlet
      - uses: lgdd/liferay-build-action@main
        with:
          profile: 'prod'
          upload-bundle: false
          upload-artifacts: false
          workspace-directory: ./liferay-gradle-workspace
  test-gradle-build-upload-bundle--main:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Blade
        run: |
          curl -fsSL https://raw.githubusercontent.com/liferay/liferay-blade-cli/master/cli/installers/local | bash
          echo "/home/runner/jpm/bin" >> $GITHUB_PATH
      - name: Create Liferay Workspace
        run: |
          mkdir liferay-gradle-workpace
          blade init -v 7.4 liferay-gradle-workspace
      - name: Create Portlet
        working-directory: ./liferay-gradle-workspace
        run: |
          blade create -t mvc-portlet my-mvc-portlet
      - uses: lgdd/liferay-build-action@main
        with:
          profile: 'prod'
          upload-bundle: true
          upload-artifacts: false
          workspace-directory: ./liferay-gradle-workspace
      - uses: actions/download-artifact@v3
        with:
          name: bundle
      - run: |
          ls -l
  test-gradle-build-upload-artifacts--main:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Blade
        run: |
          curl -fsSL https://raw.githubusercontent.com/liferay/liferay-blade-cli/master/cli/installers/local | bash
          echo "/home/runner/jpm/bin" >> $GITHUB_PATH
      - name: Create Liferay Workspace
        run: |
          mkdir liferay-gradle-workpace
          blade init -v 7.4 liferay-gradle-workspace
      - name: Create Portlet
        working-directory: ./liferay-gradle-workspace
        run: |
          blade create -t mvc-portlet my-mvc-portlet
      - uses: lgdd/liferay-build-action@main
        with:
          profile: 'prod'
          upload-bundle: false
          upload-artifacts: true
          workspace-directory: ./liferay-gradle-workspace
      - uses: actions/download-artifact@v3
        with:
          name: artifacts
      - run: |
          ls -l
  test-maven-build-only--main:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Blade
        run: |
          curl -fsSL https://raw.githubusercontent.com/liferay/liferay-blade-cli/master/cli/installers/local | bash
          echo "/home/runner/jpm/bin" >> $GITHUB_PATH
      - name: Create Liferay Workspace
        run: |
          blade init -v 7.4 -b maven liferay-maven-workspace
      - name: Create Portlet
        working-directory: ./liferay-maven-workspace
        run: |
          blade create -t mvc-portlet my-mvc-portlet
      - uses: lgdd/liferay-build-action@main
        with:
          profile: 'prod'
          upload-bundle: false
          upload-artifacts: false
          workspace-directory: ./liferay-maven-workspace
  test-maven-build-upload-bundle--main:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Blade
        run: |
          curl -fsSL https://raw.githubusercontent.com/liferay/liferay-blade-cli/master/cli/installers/local | bash
          echo "/home/runner/jpm/bin" >> $GITHUB_PATH
      - name: Create Liferay Workspace
        run: |
          blade init -v 7.4 -b maven liferay-maven-workspace
      - name: Create Portlet
        working-directory: ./liferay-maven-workspace
        run: |
          blade create -t mvc-portlet my-mvc-portlet
      - uses: lgdd/liferay-build-action@main
        with:
          profile: 'prod'
          upload-bundle: true
          upload-artifacts: false
          workspace-directory: ./liferay-maven-workspace
      - uses: actions/download-artifact@v3
        with:
          name: bundle
      - run: |
          ls -l
  test-maven-build-upload-artifacts--main:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Blade
        run: |
          curl -fsSL https://raw.githubusercontent.com/liferay/liferay-blade-cli/master/cli/installers/local | bash
          echo "/home/runner/jpm/bin" >> $GITHUB_PATH
      - name: Create Liferay Workspace
        run: |
          blade init -v 7.4 -b maven liferay-maven-workspace
      - name: Create Portlet
        working-directory: ./liferay-maven-workspace
        run: |
          blade create -t mvc-portlet my-mvc-portlet
      - uses: lgdd/liferay-build-action@main
        with:
          profile: 'prod'
          upload-bundle: false
          upload-artifacts: true
          workspace-directory: ./liferay-maven-workspace
      - uses: actions/download-artifact@v3
        with:
          name: artifacts
      - run: |
          ls -l
